div.container section.places {
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

div.container section.places h1 {
    font-size: 30px;

    margin-right: 90%;
    order: 1;
}
div.container section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    order: 2;
}
div.container section.places article.last_article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    order: 3;

}
div.container section.places article h2 {
    font-size: 30px;
    text-align: center;
}